<div class="container d-flex justify-content-center">
  <div class="col-md-10">
    <div class="card card-user">
      <div class="image">
        <img src="assets/img/damir-bosnjak.jpg" alt="Background Image">
      </div>
      <div class="card-body text-center">
        <div class="author">
          <img class="avatar border-gray" src="assets/img/profilicon.png" alt="Profile Image">
          <h4 class="title">{{ user?.fullname }}</h4>
          <p class="description"><i class="fas fa-envelope"></i> {{ user?.email }}</p>
          <p class="description"><i class="fas fa-phone"></i> {{ user?.phone }}</p>
        </div>
        <button class="btn btn-primary btn-round mt-3" (click)="toggleEdit()">
          {{ isEditing ? 'Cancel' : 'Edit Profile' }}
        </button>
      </div>
    </div>

    <div *ngIf="isEditing" class="card mt-3 card-user">
      <div class="card-header">
        <h5 class="card-title">Edit Profile</h5>
      </div>
      <div class="card-body">
        <form (ngSubmit)="updateProfile()">
          <div class="form-group">
            <label><i class="fas fa-user"></i> Full Name</label>
            <input type="text" class="form-control input-custom" [(ngModel)]="user.fullname" name="fullname" required>
          </div>
          <div class="form-group">
            <label><i class="fas fa-envelope"></i> Email</label>
            <input type="email" class="form-control input-custom" [(ngModel)]="user.email" name="email" required >
          </div>
          <div class="form-group">
            <label><i class="fas fa-phone"></i> Phone</label>
            <input type="text" class="form-control input-custom" [(ngModel)]="user.phone" name="phone" minlength="8" maxlength="8">
          </div>
          <button type="submit" class="btn btn-success btn-block">Save Changes</button>
        </form>
      </div>
    </div>
  </div>
</div>
